## **Pandas Tutorial**

Following the tutorial found on YouTube, URL: https://www.youtube.com/watch?v=LHBE6Q9XlzI

Pandas is a data analysis and manipulation library. More information about Pandas:

https://pandas.pydata.org/

**Pandas Series**
1D arrays with axis labels

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [1]:
import pandas as pd
print(pd.__version__)

1.1.5

In [6]:
A = pd.Series([2,3,4,5], index=['a', 'b', 'c', 'd'])
print(A.values)
print (type(A))
print (type(A.values))
print(A['a':'c'])

[2 3 4 5]
<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
a    2
b    3
c    4
dtype: int64

In [21]:
dict = {'A':4, 'A-': 3.6, 'B': 3.3, 'B-': 3.0, 'C': 2.5, 'D': 2.0}
grades = pd.Series(dict)
print(grades)

dict2 = {'A':84, 'A-':80, 'B': 75, 'C': 65, 'D-': 55}
marks = pd.Series(dict2)
print(marks)

A     4.0
A-    3.6
B     3.3
B-    3.0
C     2.5
D     2.0
dtype: float64
A     84
A-    80
B     75
C     65
D-    55
dtype: int64

In [35]:
#Indices

A = pd.Series(['a', 'b', 'c'], index=[1,3,5])
A[1]

print(A[1:3])

#Explicit indices
print(A.loc[1:3])

#Implicit indices
print(A.iloc[1:3])

3    b
5    c
dtype: object
1    a
3    b
dtype: object
3    b
5    c
dtype: object

**DataFrames**

In [25]:
D = pd.DataFrame({'Marks': marks, 'Grades:': grades})
print(D)
print(D.T)

print(D.values[2,0])

print(D.columns)

D['ScaledMarks'] = (D['Marks']/90)*100
print(D)

del D['ScaledMarks']
print(D)

G = D[D['Marks'] > 70]
print(G)

    Marks  Grades:
A    84.0      4.0
A-   80.0      3.6
B    75.0      3.3
B-    NaN      3.0
C    65.0      2.5
D     NaN      2.0
D-   55.0      NaN
            A    A-     B   B-     C    D    D-
Marks    84.0  80.0  75.0  NaN  65.0  NaN  55.0
Grades:   4.0   3.6   3.3  3.0   2.5  2.0   NaN
75.0
Index(['Marks', 'Grades:'], dtype='object')
    Marks  Grades:  ScaledMarks
A    84.0      4.0    93.333333
A-   80.0      3.6    88.888889
B    75.0      3.3    83.333333
B-    NaN      3.0          NaN
C    65.0      2.5    72.222222
D     NaN      2.0          NaN
D-   55.0      NaN    61.111111
    Marks  Grades:
A    84.0      4.0
A-   80.0      3.6
B    75.0      3.3
B-    NaN      3.0
C    65.0      2.5
D     NaN      2.0
D-   55.0      NaN
    Marks  Grades:
A    84.0      4.0
A-   80.0      3.6
B    75.0      3.3

In [30]:
A = pd.DataFrame([{'a': 1, 'b': 4}, {'b': 3, 'c': 5}])
print(A)

#Filla NaN with zeros
B = A.fillna(0)
print(B)

#Will drop NaN values, thus deleting all the rows
#A.dropna()

     a  b    c
0  1.0  4  NaN
1  NaN  3  5.0
     a  b    c
0  1.0  4  0.0
1  0.0  3  5.0

Empty DataFrame
Columns: [a, b, c]
Index: []